<p></p><p class='b'></p>
<style>&{background:#183539;*{background:#46BA67;margin:0 150}p,.b{background:#46BA67;width:265;height:30;position:absolute;left:-75;top:96}.b{border-radius:50%;background:transparent;;border:30px solid#46BA67;width:250;height:250;top:-233;left:-105}
